body {
    background: #226db5;
    color: #164776;
    font: 15px calibri, sans-serif;
}

input {
    background-color: #6fa0cf;
    color: #226db5;
    font: 15px calibri, sans-serif;
}

select {
    background-color: #6fa0cf;
    color: #226db5;
    font: 15px calibri, sans-serif;
}

table {
    margin: auto;
    font: 15px calibri, sans-serif;
}

tr {
    background-color: #6fa0cf;
    color: #226db5;
    font: 15px calibri, sans-serif;
}

a:link {
    color: #6fa0cf;
    text-decoration: none;
    font: 15px calibri, sans-serif;
}

a:visited {
    color: #226db5;
    text-decoration: none;
    font: 15px calibri, sans-serif;
}

a:hover {
    color: #226db5;
    text-decoration: underline;
    font: 15px calibri, sans-serif;
}

a:active {
    color: #226db5;
    text-decoration: none;
    font: 15px calibri, sans-serif;
}

#header {
    height: 35px;
    background: #164776;
    color: #226db5;
    text-align: center;
    font: 15px calibri, sans-serif;
}

#side {
    height: 600px;
    width: 100px;
    float: left;
    text-align: center;
    background: #164776;
    color: #226db5;
    font: 15px calibri, sans-serif;
}

#main {
    height: 600px;
    float: center;
    text-align: center;
    vertical-align: top;
    align: center;
    background: #226db5;
    color: #164776;
    font: 15px calibri, sans-serif;
}

#flip {
    color: #226db5;
    background-color: #164776;
    text-align: center;
    margin: auto;
    font: 15px calibri, sans-serif;
}

#panel {
    background-color: #164776;
    margin: auto;
    text-align: center;
    font: 15px calibri, sans-serif;
}
